With enormous thanks to Takenori Takaki (https://github.com/takenory) for converting to Jupyter from http://pandas.pydata.org/pandas-docs/stable/10min.html

# More than 10 Minutes to Pandas

## Pandas First Steps Part 2

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Customarily, we import as follows:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])

In [ ]:
s

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [ ]:
df

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [ ]:
df2 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([3]*4,dtype='int32'),
                   'E':pd.Categorical(["test","train","test","train"]),
                   'F':'foo'})

In [ ]:
df2

Having specific [dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

In [ ]:
# df2.<TAB>

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

## Viewing Data

See the [Basics section](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics)

Transposing your data

In [ ]:
df.T

Sorting by an axis

In [ ]:
df.sort_index(axis=1, ascending=False)

Sorting by value

In [ ]:
df.sort_values(by='B')

## Selection

**Note:** While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation [Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and [MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

## Setting

Setting a new column automatically aligns the data by the indexes

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102',periods=6))

In [ ]:
s1

In [ ]:
df['F'] = s1

Setting values by label

In [ ]:
df.at[dates[0],'A'] = 0

Setting values by position

In [ ]:
df.iat[0,1] = 0

Setting by assigning with a numpy array

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

The result of the prior setting operations

In [ ]:
df

A where operation with setting.

In [ ]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [ ]:
df2

## Missing Data

Pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

Filling missing data

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are nan

In [ ]:
pd.isnull(df1)

## Operations

See the [Basic section on Binary Ops](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)

### Stats

Operations in general exclude missing data.

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates)

In [ ]:
s

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [ ]:
s

In [ ]:
df

In [ ]:
df.sub(s, axis='index') #substract

### Apply

Applying functions to the data

In [ ]:
df.apply(np.sqrt)

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

### Histogramming

See more at [Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [ ]:
s

In [ ]:
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

## Merge

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the [Merging section](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging)

Concatenating pandas objects together with concat():

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

for i in pieces:
    display(i)

Where does `display` come from?

In [ ]:
? display

In [ ]:
pieces[0]._repr_html_()

In [ ]:
pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo', 'bar'], 'lval': [1, 2, 4]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo', 'bar'], 'rval': [4, 5, 6]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

There is also a `join` method, which joines on one or both indices. Think index = join, otherwise -> merge.

`join` requires "instructions" on how to mark the resulting values if there are rows that would have the same row + column, but different values.

In [ ]:
left.join(right, rsuffix='_right')

In [ ]:
right.rename({'key' : 'old_key'}, axis=1, inplace=True)

right

In [ ]:
left.join(right) # no "conflicts"

### Append

Append rows to a dataframe. See the [Appending](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [ ]:
df

In [ ]:
s = df.iloc[3]

In [ ]:
df.append(s, ignore_index=True)

## Grouping

By “group by” we are referring to a process involving one or more of the following steps

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

See the [Grouping section](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                     'D' : np.random.randn(8)})

In [ ]:
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

## Plotting
[Plotting](http://pandas.pydata.org/pandas-docs/stable/visualization.html#visualization) docs.

In [ ]:
df

In [ ]:
df.plot()

In [ ]:
df.plot.bar(x=None, y=['C','D']) # None -> index

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [ ]:
ts = ts.cumsum()

In [ ]:
ts.plot()

On DataFrame, plot() is a convenience to plot all of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])

In [ ]:
df = df.cumsum()

In [ ]:
plt.figure(); df.plot(); plt.legend(loc='best')