# Lab: Diamonds Data

In this lab, we'll practice working with a dataset of diamond sales. This dataset, where each records corresponds to the sale of a specific diamond, is similar to a lot of real transation datasets (and other tabular business datasets).

We start with one file, `diamonds1.csv`, which contains several properties for each diamond sale:
* carat weight
* cut (a grade of cut quality)
* color (a grade of color purity)
* clarity (a grade of flaws or flawlessness)
* depth, table (both measurements that describe the shape, the details are not important for today)
* sale price (in US Dollars)

We also have a file we can use to *enrich* the data, `diamonds2.csv`, which contains measurements of each diamond in millimeters in each of the 3 dimensions (labeled x, y, and z).

### 1. Enrich the data...

Join the two tables (the records are in the same order within each file) to create a new dataframe called `diamonds` with all of the properties

In [ ]:
diamonds1 = pd.read_csv('data/diamonds1.csv')
diamonds1

In [ ]:
diamonds2 = pd.read_csv('data/diamonds2.csv')
diamonds2

In [ ]:
diamonds = diamonds1.join(diamonds2)
diamonds

## 2. Look for missing values

Use `.count` to look for missing values.

*Extra credit: use `isnull()` to check for NaN values as well*

In [ ]:
diamonds.count()

In [ ]:
diamonds[diamonds.isnull()].count()

## 3. Impossible values...

Let's look for values that are formally legal, but don't make business sense. 
Start with `.describe()`

In [ ]:
diamonds.describe()

In [ ]:
diamonds[diamonds == 0].count()

## 4. Categories

Which columns might be categorical columns?

Choose one and generate a list of unique values and the number of records with each value.

Next, when you've confirmed that it has only a small number of unique values, turn it into a Pandas Categorical.

Replace the original column with the new Pandas Categorical column and check the dataframe's `dtypes`

*Extra credit: render a histogram for this column*

In [ ]:
diamonds.dtypes

In [ ]:
diamonds.cut.value_counts()

In [ ]:
cat = pd.Categorical(diamonds.cut)
cat

In [ ]:
diamonds['cut'] = cat

In [ ]:
diamonds.dtypes

In [ ]:
diamonds.cut.hist()

## 5. Feature transformation

Inspect the precision present in the x, y, and z columns.

Replace those features with versions rounded to 1 decimal place.

In [ ]:
diamonds.x

In [ ]:
for col in ['x','y','z']:
    diamonds[col] = diamonds[col].round(1)
    
diamonds

## 6. Ordering

Sort the dataframe by carat weight (lowest to highest)

In [ ]:
diamonds = diamonds.sort_values('carat')
diamonds

## 7. Exporting transformed data

Write the new version of the dataset out to JSON.

Inspect the JSON (hint: it's a large file; the easiest way to take a look at the beginning is with the Linux `head` command. You can use `!` to run a Linux command, and the `-c numbytes` command-line parameter to read just `numbytes` from the file)

You'll notice something a little non-standard about the JSON output. Re-write the JSON output in the more common (REST-style) arrangement (hint: you just need to set one `kwarg` when you write out the file in order to make this change)

In [ ]:
diamonds.to_json('diamonds.json')

In [ ]:
! head -c 1000 diamonds.json

In [ ]:
diamonds.to_json('diamonds.json', orient='records')

In [ ]:
! head -c 1000 diamonds.json

## 8. Bucketing and exploring

Compute the stats for the data for each half-carat "bucket" of diamonds.

Specifically:
* Create a new column which contains the carat weight rounded to the nearest 0.5 carats
* For each bucket, find summary statistics for the numeric diamond properties
* *Extra credit: try to stack, unstack, or pivot so that the carat buckets and the stats are rows and only the numeric diamonds properties are columns*

In [ ]:
diamonds.describe()

In [ ]:
diamonds['carat_bucketed'] = (diamonds['carat']*10 // 5) / 2.0
diamonds

In [ ]:
diamonds.groupby('carat_bucketed').describe()

In [ ]:
diamonds.groupby('carat_bucketed').describe().stack()